header {
    width: 40%;
    background-color: rgb(52, 52, 111);
    height: 60px;
    transform: translate(50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

header > h1 {
    font-size: 24px;
    color: rgb(52, 255, 255);
    text-transform: uppercase;
}

body {
    margin: 0;
}

div {
    width: 60%;
    display: flex;
    justify-content: center;
    transform: translate(50%, 0);
    border-bottom: 2px solid blue;
    padding: 5px;
}

span {
    margin-left: 10px;
}

#malikova {
    width: 400px;
    background-color: rgb(255, 204, 0);
}

#malikova1 {
    width: 400px;
    background-color: rgb(153, 204, 255);
}
